<h2>Let's book your flight from
  <%= @booking.flight.departure_airport.code %> to 
  <%= @booking.flight.arrival_airport.code %> !
 <div class="booking-flight-info">
   </h2>
   <h3>
    You've selected flight # <%= @booking.flight.id %>
   </h3>
   <h3>
    Departing 
    <%= @booking.flight.format_date(@booking.flight.depart_datetime)%> at
    <%= @booking.flight.format_time(@booking.flight.depart_datetime) %>
   </h3>
   <h3>
    Duration of flight: <%= @booking.flight.duration_in_minutes %> minutes
   </h3>
 </div>

 <%= form_with model: @booking do |form| %>
  Passengers:
  <ul>
    <%= form.fields_for :passengers do |passenger_form| %>
        <li>
          <%= passenger_form.label :name %>
          <%= passenger_form.text_field :name, required: true %>

          <%= passenger_form.label :email %>
          <%= passenger_form.text_field :email, required: true %>
        </li>
        <br>
    <% end %>
    <%= form.hidden_field :flight_id, value: @booking.flight.id  %>
    <%= form.submit "Next" %>
  </ul>
 <% end %>